.verdict-status--icon {
  display: inline-block;
  inline-size: 18px;
  block-size: 18px;
  vertical-align: text-bottom;
  border-radius: 50%;
  /* For unknown type. */
  background-color: purple;
}

.verdict-status--icon.gray {
  background-color: gray;
}

.verdict-status--icon.orange {
  background-color: orange;
}

.verdict-status--icon.green {
  background-color: green;
}

.verdict-status--icon.lightgray {
  background-color: lightgray;
}

.verdict-status--icon.red {
  background-color: red;
}
